body {
    background-color: rgb(95, 81, 0);
    color: white;
}

.mainpage {
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

h2 {
    text-align: center;
}

p { 
    font-style: italic;
    font-size: 25px;
}

ul li {
    font-size: 25px;
    color: black;
    
    
}
ul{
    background-color: rgb(140, 200, 248);
    display: inline-block; 
    padding: 10px;
    border-radius: 10px;
    text-align: left; 
    list-style-position: inside;
}
.container {
    text-align: center;
}
ol li {
    color: black;
}

ol{
    background-color: rgb(140, 200, 248);
    display: inline-block; 
    padding: 10px;
    border-radius: 10px;
    text-align: justify; 
    list-style-position: inside;
    max-width: 500px; 
    word-wrap: break-word; 
}